.running {
    color: blue;
}

.healthy {
    color: limegreen;
}

.not_found {
    color: gray;
}

.stopped {
    color: black;
}

.waiting {
    color: cornflowerblue;
}

.staging {
    color: lightskyblue;
}

.unhealthy {
    color: red;
}

.connected-true {
    color: black;
}

.connected-false {
    color: red;
}

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
    border: none;
}

.table-nonfluid {
    width: auto;
}

.hidden {
    visibility: hidden;
    over-flow: hidden;
    width: 0px;
    height: 0px;
}

