.running {
    color: blue;
}

.healthy {
    color: limegreen;
}

.not_launched {
    color: gray;
}

.not_found {
    color: gray;
}

.stopped {
    color: black;
}

.waiting {
    color: cornflowerblue;
}

.staging {
    color: lightskyblue;
}

.unhealthy {
    color: red;
}

