@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(webJarAssets: WebJarAssets, launcherStage: String, states: Map[String,String], error: Option[String])

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main(webJarAssets, "Gestalt Framework", Some(5)) {
    <h3>gestalt-framework: @launcherStage</h3>

    @if(error.isDefined) {
        <div class="alert alert-danger">
            <strong>Error!</strong> @error.get
        </div>
    }

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        @for(srv <- states) {
            <tr>
                <td>@srv._1</td>
                <td>
                    <div class="@srv._2.toLowerCase">
                      @srv._2
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
