@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(webJarAssets: WebJarAssets, launcherStage: String, states: Seq[com.galacticfog.gestalt.dcos.marathon.ServiceStatus], error: Option[String])

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main(webJarAssets, "Gestalt Framework", Some(5)) {
    <h3>gestalt-framework: @launcherStage</h3>

    @if(error.isDefined) {
        <div class="alert alert-danger">
            <strong>Error!</strong> @error.get
        </div>
    }

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        @for(s <- states) {
            <tr>
                <td>@s.name
                    @if(s.vhosts.nonEmpty) {
                        <br>
                        @for(vhost <- s.vhosts) {
                            <a href="https://@vhost">@vhost</a>
                        }
                    }
                </td>
                <td>
                    <div class="@s.status.toLowerCase">
                      @s.status
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
