@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(webJarAssets: WebJarAssets, title: String, refresh: Option[Int])(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        @if(refresh.isDefined) {
            <meta http-equiv="refresh" content="@refresh.get">
        }

        <script type='text/javascript' src='@routes.WebJarAssets.at(webJarAssets.locate("jquery.min.js")).toString.stripPrefix("/")'></script>
        <link rel="stylesheet" href="@routes.WebJarAssets.at(webJarAssets.locate("bootstrap.min.css")).toString.stripPrefix("/")">
        <link rel="stylesheet" href="@routes.WebJarAssets.at(webJarAssets.locate("bootstrap-theme.min.css")).toString.stripPrefix("/")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css").toString.stripPrefix("/")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/sticky-footer.css").toString.stripPrefix("/")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png").toString.stripPrefix("/")">
    </head>
    <body>

        <!-- Begin page content -->
        <div class="container">
            @content
        </div>

        <footer class="footer">
            <div class="container">
                <p class="text-muted">(c) Galactic Fog IP, Inc.</p>
            </div>
        </footer>

    </body>
</html>
