@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(webJarsUtil: org.webjars.play.WebJarsUtil, title: String, version: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        @Html(webJarsUtil.script("jquery.min.js"))
        @Html(webJarsUtil.script("bootstrap.min.js"))
        @Html(webJarsUtil.css("bootstrap.min.css"))
        @Html(webJarsUtil.css("bootstrap-theme.min.css"))
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/sticky-footer.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

    </head>
    <body>

        <!-- Begin page content -->
        <div class="container-fluid">
            @content
        </div>

        <footer class="footer">
            <div class="container">
                <p class="text-muted">gestalt-dcos @version: <a href="https://github.com/GalacticFog/gestalt-dcos">https://github.com/GalacticFog/gestalt-dcos</a></p>
            </div>
        </footer>

    </body>

</html>
